*{
    box-sizing: border-box;
}
.hero{
    background-image: url(Images/Background.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.time{
    background-color: rgba(25, 25, 112, 0.74);
    border-radius: 5px;
}